version: 2.1

jobs:
  print-a-message:
    docker:
      - image: cimg/base:2023.02
    resource_class: small
    parameters:
      message:
        type: string
        default: ""
    steps:
      - run: 
          name: Step 1
          command: echo << parameters.message >>

workflows:
  my-workflow:
    jobs:
      - print-a-message:
          message: Hello!

